*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

.text-rtl {
    text-align: right;
}


/* START: Buttons */
    .btn-main {
        background-color: #009696;
        border-radius: 2rem;
        color: #fff;
        display: inline-block;
        margin-top: 2rem;
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        transition: background-color 650ms;
        font-size: 1.5rem;
    }
/* END: Buttons */


/* START: Effect */
    /* START: Wave */
        .wave {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .wave.top {
            top: -1px;
            transform: rotateX(180deg);
        }

        .wave.bottom {
            bottom: 0;
        }
    /* END: Wave */
/* END: Effect */


/* START: Header */
    .frontend-header {
        width: 100%;
        height: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
/* END: Header */

/* START: Container */
    .container {
        width: 100%;
        max-width: 98rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
/* END: Container */

/* START: Nav */
    nav.frontend-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .frontend-nav .nav-brand {
        width: 3rem;
    }

    .frontend-nav .menu-icons i {
        font-size: 3.5rem;
        color: #fafafa;
        cursor: pointer;
    }

    .frontend-nav .close i {
        color: #009696;
    }

    nav.frontend-nav ul {
        list-style: none;
    }

    .frontend-nav .nav-list {
        width: 25rem;
        height: 100vh;
        background-color: #eaeaea;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1500;
        transition: all 650ms ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        right: -25rem;
    }

    .frontend-nav .nav-list.active {
        right: 0 !important; /* Same width of .nav-list without "active" class */
    }

    .frontend-nav  {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
    }

    .frontend-nav .nav-item {
        margin: 1.5rem 0;
    }

    nav.frontend-nav a {
        color: #fff;
        text-decoration: none;
    }

    .frontend-nav .nav-link {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.7);
    }
/* END: Nav */


/* -------------------------------------------------- */


/* START: Common Section Elements */
    /* START: Title Heading */
        .title-heading {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10rem;
            color: rgba(0, 0, 0, 0.7);
        }

        .title-heading h3 {
            font-size: 1.4rem;
        }

        .title-heading h1 {
            font-family: 'Aldrich', sans-serif;
            font-size: 2rem;
            margin: 0.5rem 0 1rem;
        }
    /* END: Title Heading */

    .bg-img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -10;
    }
/* END: Common Section Elements */


/* START: Hero Section */
    .hero {
        width: 100%;
        height: 80vh;
        background: linear-gradient(135deg, rgba(0, 100, 75, 0.9) 0%, rgba(5, 150, 110, 0.8) 100%);
        background-size: cover;
        position: relative;
    }

    .main-message {
        width: 100%;
        max-width: 50rem;
        color: #fafafa;
        text-transform: uppercase;
        transform: translateY(40%);
    }

    .main-message h3 {
        font-size: 1.6rem;
    }

    .main-message h1 {
        font-family: 'Aldrich', sans-serif;
        font-size: 4rem;
        margin: 1rem 0;
    }

    /*.hero .btn:hover {
        background-color: #ce587b;
    }*/
/* END: Hero Section */


/* START: Experience Section */
    .experience-outdoors {
        padding: 0;
        background-color: #fff;
    }

    .activities-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2.5rem;
    }

    .activities-grid-item {
        height: 40rem;
        padding: 5rem;
        color: #fafafa;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
    }

    .activities-grid-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(0, 100, 75, 0.9) 0%, rgba(5, 150, 110, 0.8) 100%);
        z-index: -1;
    }

    .activities-grid-item i {
        font-size: 4rem;
        color: #009696;
    }

    .activities-grid-item h1 {
        font-family: 'Aldrich', sans-serif;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin: 2rem 0;
    }
/* END: Experience Section */

/* START: Testimonials Section */
    .testimonials {
        width: 100%;
        height: 80vh;
        background: linear-gradient(135deg, rgba(0, 100, 75, 0.9) 0%, rgba(5, 150, 110, 0.8) 100%);
        position: relative;
    }

    .testimonials .bg-img {
        background-attachment: fixed;
    }

    .testimonial {
        width: 100%;
        color: #fafafa;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .testimonial-text-box {
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .testimonial-text-box i {
        position: absolute;
        top: -8rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8rem;
        color: #009696;
        opacity: 0.5;
        z-index: -1;
    }

    .testimonial-customer img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin: 5px;
      
        object-fit: cover;
        object-position: center;
        
        border: 2px solid #009696;
    }
/* END: Testimonials Section */


/* START: Adventure Begin Section */
    .begin-avdenture {
        background-color: #fff;
    }

    .adventure-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2.5rem;
        margin-bottom: 2rem;
    }

    .adventure-grid-item p {
        color: rgba(0, 0, 0, 0.7);
    }
/* END: Adventure Begin Section */


/* START: Footer */
    footer {
        padding: 2.5rem 0;
        background-color: #d7d4ed;
        text-align: center;
        color: rgba(0, 0, 0, 0.7)
    }
/* END: Footer */


/* -------------------------------------------------- */


/* START: Login / Register */
    .hero-login {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner-bg.jpg");
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .auth-form-box {
        width: 380px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
    }
    
    .form-title {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    .social-icons {
        margin: auto;
        padding: 5px 0 15px 0;
        text-align: center;
        color: white;
    }

    .social-icons i {
        width: 32px;
        height: 32px;
        font-size: 2.4rem;
        margin: 0 12px;
        background: linear-gradient(to right, #ff105f, #ffad06);
        box-shadow: 0 0 20px #7f7f7f3d;
        cursor: pointer;
        border-radius: 50%;
    }

    .input-group {
        padding: 10px;
    }

    .input-field {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
        font-size: 1.3rem;
    }

    .form-group {
        padding: 10px 0;
        width: 100%;
    }

    .submit-btn {
        width: 85%;
        padding: 5px 30px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        background: linear-gradient(to right, #ff105f, #ffad06);
        border: none;
        outline: none;
        border-radius: 30px;
        font-size: 2rem;
    }

    .login-register-form-box {
        position: relative;
    }

    .input-group.auth-form {
        position: absolute;
    }
/* END: Login / Register */


/* -------------------------------------------------- */


/* START: Media Queries */
    @media screen and (min-width: 350px) {

    }

    @media screen and (min-width: 470px) {

    }

    @media screen and (min-width: 700px) {
        .frontend-nav .nav-list {
            width: initial;
            height: initial;
            background-color: transparent;
            position: initial;
            top: initial;
            flex-direction: row;
            transition: initial;
            box-shadow: none;
        }

        .frontend-nav .menu-icons {
            display: none;
        }

        .frontend-nav .nav-item {
            margin: 0 2.5rem;
        }

        .frontend-nav .nav-link, .current {
            color: #fafafa;
            position: relative;
            font-size: 1.3rem;
        }

        .frontend-nav .nav-link::before, .current::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            background-color: #009696;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 650ms;
        }

        .current::before {
            transform: scaleX(1);
        }

        .frontend-nav .nav-link:hover::before {
            transform: scaleX(1);
        }

        .hero {
            height: 80vh;
        }

        .main-message {
            transform: translateY(70%);
        }

        .title-heading h1 {
            font-size: 2.5rem;
        }
    }

    @media screen and (min-width: 1200px) {
        .hero {
            height: 85vh;
        }
    }

    @media screen and (min-width: 1650px) {

    }
/* END: Media Queries */